doctype html
html(lang="en")
	head
		meta(charset='UTF-8')
		script(src='./bundle.js')
		link(rel='stylesheet' href='./main.css')
	body
		#tabs-container
		#content
			#color-picker-container
			#colors-list-container