$color-th = 30px

ul.colors-list
	list-style: none
	
	li
		i
			display: inline-block
			width: $color-th
			height: $color-th
			
		span
			margin-left: 15px
			line-height: $color-th
			vertical-align: top