@import "colors-list.styl"

$tab-border-color = rgba(127, 127, 127, 0.8)

html
	width: 100%
	height: 100%
	overflow: hidden
	font-family: Sans-Serif
	font-size: 10.5pt

div#tabs-container
	position: absolute
	top: 0
	left: 0
	right: 0
	
	ul
		background-color: #E2E2E2
		display: inline-block
		list-style: none
		padding: 3px
		margin: 0
		padding-left:8px
		height: 20px
		width: 100%
		border-bottom: 1px solid $tab-border-color
		
		> li
			display: table-cell
			text-transform: capitalize
			line-height: 22px
			margin-top: 3px
			padding: 0 10px
			cursor: pointer
			
			&:hover
				background-color: rgba(0,0,0,0.1)
			
			&.selected
				border: 1px solid $tab-border-color
				border-bottom-color: white
				background-color: white

div#content
	position: absolute
	top: 27px
	left: 0
	right: 0
	bottom: 0
	overflow: hidden
	padding: 8px
	display: flex
	
	div#colors-list-container
		overflow-y: scroll
		overflow-x: hidden

@media (orientation:landscape)
	div#content
		flex-direction: row-reverse
		
		div#colors-list-container
			height: 100%
			flex-grow: 2
			margin-right: 8px
			
@media (orientation:portrait)
	div#content
		flex-direction: column
		
		div#colors-list-container
			align-self: stretch
			height: 100%
			
		div#color-picker-container
			margin: 0 auto
			margin-bottom: 8px
			align-items: flex-start