div#tabs-container
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 100
	
	ul
		background-color: #E2E2E2
		display: inline-block
		list-style: none
		padding: 3px
		margin: 0
		padding-left:8px
		height: 20px
		width: 100%
		border-bottom: 1px solid $tab-border-color
		
		> li
			display: table-cell
			text-transform: capitalize
			line-height: 22px
			margin-top: 3px
			padding: 0 10px
			cursor: pointer
			
			&:hover
				background-color: rgba(0,0,0,0.1)
			
			&.selected
				border: 1px solid $tab-border-color
				border-bottom-color: white
				background-color: white